@if (appService.updateAvailable()) {
  <div class="app__update">
    <ngb-alert type="primary" [dismissible]="false">
      Hay una actualización disponible
      <button type="button" class="btn btn-primary" (click)="update()">
        <fa-icon [icon]="faCloudArrowDown"></fa-icon>
      </button>
    </ngb-alert>
  </div>
}
<div class="app__sound">
  <button
    type="button"
    class="app__sound__button btn"
    [ngClass]="{ 'btn-light': soundOn, 'btn-secondary': !soundOn }"
    (click)="toggleSound()"
  >
    @if (soundOn) {
      <fa-icon [icon]="faBell"></fa-icon>
    } @else {
      <fa-icon [icon]="faBellSlash"></fa-icon>
    }
  </button>
</div>
<div class="app__container container">
  <router-outlet />
</div>
