<div class="container">
  <form [formGroup]="form">
    <div class="row text-center">
      <div class="col-12">
        <label>Series</label>
        <select class="form-select form-select-lg" formControlName="set">
          @for (item of sets; track $index) {
            <option [ngValue]="item">
              {{ item.text }}
            </option>
          }
        </select>
      </div>
    </div>
    <div class="row text-center mt-5">
      <div class="col-12">
        <label>Intervalo</label>
        <select class="form-select form-select-lg" formControlName="interval">
          @for (item of intervals; track $index) {
            <option [ngValue]="item">
              {{ item.text }}
            </option>
          }
        </select>
      </div>
    </div>
    <div class="row text-center mt-5">
      <div class="col-12">
        <label>Descanso</label>
        <select class="form-select form-select-lg" formControlName="rest">
          @for (item of rests; track $index) {
            <option [ngValue]="item">
              {{ item.text }}
            </option>
          }
        </select>
      </div>
    </div>
    <div class="row text-center mt-5">
      <div class="col-12">
        <button type="button" class="btn btn-primary" (click)="startTraining()">
          <fa-icon [icon]="faPlay"></fa-icon>
        </button>
      </div>
    </div>
  </form>
</div>
