<div class="container">
  <div class="row text-center align-items-center">
    <div class="col-6">
      @if (state !== statesEnum.countdown) {
        <div>
          <div class="dashboard__sets__label">Serie</div>
          <div class="dashboard__sets__value">{{ currentSet$ | async }}</div>
        </div>
      }
    </div>
    <div class="col-6">
      @if (state !== statesEnum.countdown) {
        <div class="dashboard__sets">
          <div class="dashboard__sets__label">Restantes</div>
          <div class="dashboard__sets__value">{{ remainingSets$ | async }}</div>
        </div>
      }
    </div>
  </div>

  <div class="row text-center mt-5 pt-2">
    <div class="col-12">
      <div class="dashboard__time-remaining" [ngClass]="{ paused: paused$ | async }">
        @switch (state) {
          @case (statesEnum.countdown) {
            {{ countdown$ | async | timer }}
          }
          @case (statesEnum.training) {
            {{ remainingTrainingTime$ | async | timer }}
          }
          @case (statesEnum.resting) {
            {{ remainingRestingTime$ | async | timer }}
          }
        }
      </div>
    </div>
  </div>

  <div class="row text-center mt-5 pt-2 align-items-center">
    <div class="col-6">
      @if (state === statesEnum.resting) {
        <span>{{ states[state].text }}</span>
      }
    </div>
    <div class="col-6">
      @if (state !== statesEnum.countdown) {
        @if (paused$ | async) {
          <button type="button" class="btn btn-success me-2" (click)="play()">
            <fa-icon [icon]="faPlay"></fa-icon>
          </button>
        }
        @if (!(paused$ | async)) {
          <button type="button" class="btn btn-warning me-2" (click)="pause()">
            <fa-icon [icon]="faPause"></fa-icon>
          </button>
        }
      }
      <button type="button" class="btn btn-danger" (click)="stop()">
        <fa-icon [icon]="faStop"></fa-icon>
      </button>
    </div>
  </div>
</div>
